In [6]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
lb.fit_transform(['yes', 'no', 'no', 'yes', 'x'])

array([[0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0]])

In [7]:
lb.classes_

array(['no', 'x', 'yes'], dtype='<U3')

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'X': ['a', 'b', 'a'], 'Y':['B', 'A', 'C'], 'Z': [1, 2, 3]})
df

   X  Y  Z
0  a  B  1
1  b  A  2
2  a  C  3

In [3]:
pd.get_dummies(df, prefix = ['colX', 'colY'])

   Z  colX_a  colX_b  colY_A  colY_B  colY_C
0  1    True   False   False    True   False
1  2   False    True    True   False   False
2  3    True   False   False   False    True

In [4]:
dataframe = pd.DataFrame({"Score": ["Low", "Low", "Medium", "Medium", "High", "Barely More Than Medium"]})

In [5]:
scale_maper = {"Low" : 1, "Medium": 2, "Barely More Than Medium": 3, "High": 4}

In [6]:
dataframe['Score'].replace(scale_maper)

0    1
1    1
2    2
3    2
4    4
5    3
Name: Score, dtype: int64